h1,
h2,
h3,
ol {
    font-family: 'Permanent Marker', cursive;
    color: white
}

body {
    background-color: #ef5350;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    margin-top: 25px;
    border-bottom: solid;
    border-color: white;
    border-width: 5px;
}

button {
    margin-top: 30px;
    width: 60%;
    height: 8%;
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 25px;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    color: white;
    background-color: #ef5350;
    transition: background-color 0.5s ease;
}

button:hover{
  background-color: #ff8080;
}
